name: CI

on: []

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
            cmake g++ clang-format git pkg-config \
            libsdl2-dev mesa-common-dev libglu1-mesa-dev \
            portaudio19-dev libportaudio2 libgtest-dev libsamplerate0-dev \
            libjack-dev libasound2-dev
      - name: Configure
        run: cmake -S . -B build
      - name: Build
        run: cmake --build build
      - name: Test
        run: ctest --test-dir build --output-on-failure
#      - name: clang-format
#        run: |
#          clang-format --version
#          find . \( -name '*.cpp' -o -name '*.hpp' -o -name '*.h' \) | xargs clang-format -i
#          git diff --exit-code
